<h2 class="text-center">Каталог</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <h4>Категории</h4>
      <div class="row" *ngFor="let category of categories">
        <div class="col-auto p-0 border" style="width: calc((100% - 80px) * 0.2); overflow: hidden;">
          <div class="category-image mx-auto" [style.backgroundImage]="'url(' + category.image + ')'"></div>
        </div>
        <div class="col-auto p-0 border" style="width: calc((100% - 80px) * 0.3); overflow: hidden;">
          <div>
            <label [for]="'update-category-image-' + category.id">Изменить</label>
            <input type="file" [id]="'update-category-image-' + category.id" class="d-none"
                   (change)="changeUpdateCategoryImage($event, category)">
          </div>
        </div>
        <div class="col-auto p-0 border" style="width: calc((100% - 80px) * 0.5); overflow: hidden;"
             (click)="activeCategory = category" [class.border-primary]="activeCategory === category">
          <p class="my-1" *ngIf="category.id !== updatedCategory">{{category.title}}</p>
          <input type="text" style="width: 100%; height: 100%"
                 [(ngModel)]="updateCategoryTitle"  *ngIf="category.id === updatedCategory">
        </div>
        <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;">
          <i class="material-icons" (click)="updatedCategory = category.id; updateCategoryTitle = category.title;"
             *ngIf="category.id !== updatedCategory">edit</i>
          <i class="material-icons" (click)="changeUpdateCategoryTitle(category)"
             *ngIf="category.id === updatedCategory">done</i>
        </div>
        <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;">
          <i class="material-icons" (click)="deleteCategory(category.id)">delete</i>
        </div>
      </div>

      <div class="row">
        <div class="col-auto p-0" style="width: calc((100% - 80px) * 0.2); overflow: hidden;" [class.border]="isAddCategory">
          <div *ngIf="isAddCategory" class="category-image mx-auto" [style.backgroundImage]="'url(' + newCategoryImageUrl + ')'"></div>
        </div>
        <div class="col-auto p-0" style="width: calc((100% - 80px) * 0.3); overflow: hidden;" [class.border]="isAddCategory">
          <div *ngIf="isAddCategory">
            <label for="new-category-image">Изменить</label>
            <input type="file" id="new-category-image" class="d-none" (change)="changeNewCategoryImage($event)">
          </div>
        </div>
        <div class="col-auto p-0 border" style="width: calc((100% - 80px) * 0.5); overflow: hidden;">
          <input type="text" style="width: 100%; height: 100%"
                 [(ngModel)]="newCategoryTitle" *ngIf="isAddCategory">
        </div>
        <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;">
          <i class="material-icons" *ngIf="isAddCategory" (click)="saveNewCategory()">done</i>
          <i class="material-icons" *ngIf="!isAddCategory" (click)="isAddCategory = !isAddCategory">add</i>
        </div>
        <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;" *ngIf="isAddCategory">
          <i class="material-icons" (click)="isAddCategory = !isAddCategory">close</i>
        </div>
      </div>
    </div>
    <div class="col-5">
      <h4>Подкатегории</h4>

      <div class="w-100" *ngFor="let subCategory of subCategories">
        <div class="row" *ngIf="subCategory.categoryId === activeCategory.id">
          <div class="col-auto p-0 border" style="width: calc(100% - 80px); overflow: hidden;">
            <p class="my-1" *ngIf="subCategory.id !== updatedSubCategory">{{subCategory.title}}</p>
            <input type="text" style="width: 100%; height: 100%"
                   [(ngModel)]="updateSubCategoryTitle"  *ngIf="subCategory.id === updatedSubCategory">
          </div>
          <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;">
            <i class="material-icons" (click)="updatedSubCategory = subCategory.id; updateSubCategoryTitle = subCategory.title;"
               *ngIf="subCategory.id !== updatedSubCategory">edit</i>
            <i class="material-icons" (click)="changeUpdateSubCategoryTitle(subCategory)"
               *ngIf="subCategory.id === updatedSubCategory">done</i>
          </div>
          <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;">
            <i class="material-icons" (click)="deleteSubCategory(subCategory.id)">delete</i>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="activeCategory.id != 0">
        <div class="col-auto p-0 border" style="width: calc(100% - 80px); overflow: hidden;">
          <input type="text" style="width: 100%; height: 100%"
                 [(ngModel)]="newSubCategoryTitle" *ngIf="isAddSubCategory">
        </div>
        <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;">
          <i class="material-icons" *ngIf="isAddSubCategory" (click)="saveNewSubCategory()">done</i>
          <i class="material-icons" *ngIf="!isAddSubCategory" (click)="isAddSubCategory = !isAddSubCategory">add</i>
        </div>
        <div class="col-auto px-0" style="width: 40px;
            text-align: center;
            padding-top: 8px;" *ngIf="isAddSubCategory">
          <i class="material-icons" (click)="isAddSubCategory = !isAddSubCategory">close</i>
        </div>
      </div>
    </div>
  </div>
</div>
